* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.btn {
  padding: 12px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
}

.btn.primary{
    background-color: #3a8f5b;
    color: #fff;
}

.navbar {
  background: #fff;
  padding: 15px 0;
}

.nav-content {
  display: flex;
  align-items: center;
}

.nav-menu {
  margin: auto;
  display: flex;
  gap: 30px;
}

.nav-menu a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}


.hero {
  width: 100%;
  height: 100vh;
  background-image: url("./images/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  position: relative;
  color: #fff;
  text-align: center;
  max-width: 800px;
}

.badge {
  background: #fff;
  color: #3a8f5b;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
}

.hero h1 {
  font-size: 48px;
  margin: 20px 0;
}

.hero h1 span {
  color: #3a8f5b;
}

.hero p {
  font-size: 16px;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}