* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

.navbar {
  background: #fff;
  padding: 15px 0;
}

.nav-content {
  display: flex;
  align-items: center;
}

.nav-menu {
  margin: auto;
  display: flex;
  gap: 30px;
}

.nav-menu a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
