* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.btn {
  padding: 12px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
}

.btn.primary{
    background-color: #30B868;
    color: #fff;
    font-size: 16px;
}

.btn.primary:hover {
  background: #2f7349;
}

.btn.outline {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 16px;                  
}

.btn.outline:hover {
  background: #ffffffa5;
  color: #000;
}

.navbar {
  background: #fff;
  padding: 15px 0;
}

.nav-content {
  display: flex;
  align-items: center;
}

.nav-menu {
  margin: auto;
  display: flex;
  gap: 30px;
}

.nav-menu a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}


.hero {
  width: 100%;
  height: 100vh;
  background-image: url("./images/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  position: relative;
  color: #fff;
  text-align: center;
  max-width: 800px;
}

.badge {
  background: #fff;
  color: #30B868;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
}

.hero h1 {
  font-size: 58px;
  margin: 20px 0;
}

.hero h1 span {
  color: #30B868;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.notes {
  padding: 80px 0;
  text-align: center;
}

.note-titel{
    font-size: 48px;
    color: #001931;
}

.section-subtitle {
    font-size: 16px;
  margin: 15px 0 50px;
  color: #627382;
}

.notes-cards {
  display: flex;
  gap: 30px;
}

.note-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.note-card h3{
    font-size: 24px;
    color: #001931;
}

.note-card p{
    font-size: 16px;
    color: #627382;
}
.note-card .icon {
  width: 50px;
  height: 50px;
  background: #F95555;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
}

.second-brain {
  padding: 80px 0;
}

.brain-content {
  display: flex;
  gap: 50px;
  align-items: center;
}

.brain-text .label {
  color: #30B868;
  font-weight: 500;
  font-size: 16px;
}

.brain-text h2{
    font-size: 48px;
    color: #001931;
}

.brain-text p{
    margin-top: 20px;
    font-size: 16px;
    color: #627382;
}

.brain-text ul {
  margin-top: 20px;
  list-style: none;
  font-size: 16px;
  color: #001931;
}

.brain-text li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.early-access {
  padding: 80px 0;
  text-align: center;
}

.early-box {
    max-width: 700;
    background: #f7f6f2;
    padding: 80px 0;
    text-align: center;
    border-radius: 10px;
}

.earlyaccess-content h2{
    font-size: 40px;
    color: #001931;
}

.earlyaccess-content p{
    font-size: 16px;
    color: #627382;
    margin-top: 20px;
    margin-bottom: 20px;
}

.small-text {
  margin-top: 15px;
  font-size: 16px;
  color: #627382;
}

.footer {
  background: #001931;
  color: #fff;
  padding: 40px 0;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-links i {
  gap: 40px;
  cursor: pointer;
}

.social-links :hover{
    color: #3a8f5b;
}

hr {
  border: none;
  height: 1px;
  background: rgba(255,255,255,0.2);
  margin: 30px 0;
}

.footer p {
  text-align: center;
  font-size:  20px;
}

.footer .copyright {
  text-align: center;
  font-size: 16px;
}